{
    "extends": ["airbnb-base"],

    "env": {
        "browser": true,
        "es2021": true
    },

    "ignorePatterns": [
        "node_modules",
        "*.config.js",
        "*.min.js"
    ],

    "parserOptions": {
        "ecmaVersion": 13
    },

    "rules": {
        "no-param-reassign": "off",
        "import/extensions": "off",
        "no-underscore-dangle": "off"
    }
}
