{
    "extends": ["airbnb-base"],

    "env": {
        "browser": true,
        "es2021": true
    },

    "ignorePatterns": [
        "node_modules",
        "*.config.js"
    ],

    "rules": {
        "no-param-reassign": "off"
    }
}