<div id="chat_interface">
    <div id="history" class="boxed"></div>
    <div id="input" class="bottom boxed">
        <form onsubmit="return false;" style="width: 100%">
            <p>
                <label for="chat_input"> Chat: </label>
                <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                <button id="chat_send" onclick="sendChatText()">Send</button>
            </p>
        </form>
    </div>
</div>
