<main class="mx-auto mt-24 w-10/12">
  <div
    class="mb-8 flex flex-col items-center justify-between border-b-4 border-text pb-2 lg:flex-row lg:items-end"
  >
    <h1 class="text-4xl font-bold"><%= title %></h1>
    <div
      class="lg:flex-fill-remaining-space fixed bottom-0 z-50 flex max-h-full w-screen flex-row items-end justify-center gap-4 border-t-2 border-text bg-background p-2 lg:relative lg:w-auto lg:justify-end lg:border-0"
    >
      <%- include('../partials/plant-filters.ejs') %>

      <button
        type="button"
        class="hover-button flex items-center gap-2 rounded px-3 py-2 text-center font-bold"
        data-toggle="modal"
        data-target="plant-add-modal"
      >
        Add Plant <span class="material-symbols-outlined"> library_add </span>
      </button>

      <!-- prettier-ignore -->
      <%-
        include('../partials/modal.ejs', {
            modalID: 'plant-add-modal',
            modalTitle: 'Create a new plant sighting',
            modalContent: 'plant-form'
        });
      %>
    </div>
  </div>
  <div
    class="grid grid-cols-1 gap-10 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4"
  >
    <!-- prettier-ignore -->
    <% plants.forEach((p) => { %>
      <%- include('../partials/plant-card.ejs', {plant: p}) %>
    <% }) %>
  </div>
</main>
