<div class="fixed bottom-0 right-0 mb-10 mr-10">
  <button
    id="open-chat"
    class="hover-button material-symbols-outlined fill-0 rounded-lg bg-accent p-2.5"
  >
    forum
  </button>
</div>
<div id="chat-interface" class="fixed bottom-10 right-1/2 translate-x-1/2 sm:right-10 sm:translate-x-0 hidden w-96 max-w-[83.33333vw]">
  <div class="w-full max-w-lg rounded-lg bg-white shadow-md">
    <div
      class="flex items-center justify-between rounded-t-lg border-b bg-primary p-4"
    >
      <p class="font-semibold text-white dark:text-on-secondary">Comments</p>
      <button
        id="close-chat"
        class="close-modal flex justify-center rounded bg-background hover:bg-error hover:text-background"
        aria-label="close chat"
      >
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>
    <div id="chatbox" class="h-80 overflow-y-auto p-4">
      <!-- Chat messages will be displayed here -->
    </div>
    <div class="flex border-t p-4">
      <form id="chat-form" class="flex w-full">
        <input
          id="user-id"
          type="text"
          class="hidden"
          value="user-placeholder"
        />
        <input
          id="plant-id"
          type="text"
          class="hidden"
          value="<%= plant.id %>"
        />
        <input
          id="user-input"
          type="text"
          placeholder="Type a message"
          class="w-full rounded-l-md border px-3 py-2 text-gray-700 focus:outline-none focus:ring-2 focus:ring-accent"
        />
        <button
          id="send-button"
          class="hover-button material-symbols-outlined rounded-r-md bg-primary px-4 py-2 transition duration-300"
        >
          send
        </button>
      </form>
    </div>
  </div>
</div>
