<div class="fixed bottom-0 right-0 mb-10 mr-10">
    <button id="open-chat" class="bg-accent rounded-lg hover-button p-2.5 material-symbols-outlined fill-0">
        forum
    </button>
</div>
<div id="chat-interface" class="hidden fixed bottom-10 right-10 w-96">
    <div class="bg-white shadow-md rounded-lg max-w-lg w-full">
        <div class="p-4 border-b bg-primary rounded-t-lg flex justify-between items-center">
            <p class="dark:text-on-secondary text-white font-semibold">Comments</p>
            <button
                    id="close-chat"
                    class="close-modal flex justify-center rounded bg-background hover:bg-error hover:text-background"
                    aria-label="close chat"
            >
                <span class="material-symbols-outlined">close</span>
            </button>
        </div>
        <div id="chatbox" class="p-4 h-80 overflow-y-auto">
            <!-- Chat messages will be displayed here -->

        </div>
        <div class="p-4 border-t flex">
            <form id="chat-form" class="w-full flex">
                <input id="user-id" type="text" class="hidden" value="user-placeholder">
                <input id="plant-id" type="text" class="hidden" value="<%= plant.id %>">
                <input id="user-input" type="text" placeholder="Type a message" class="text-gray-700 w-full px-3 py-2 border rounded-l-md focus:outline-none focus:ring-2 focus:ring-accent">
                <button id="send-button" class="bg-primary px-4 py-2 rounded-r-md hover-button transition duration-300 material-symbols-outlined">send</button>
            </form>
        </div>
    </div>
</div>
