<div class="modal invisible" id="<%= modalID %>" tabindex="-1" role="dialog">
  <div class="modal-overlay" data-close="modal"></div>
  <div class="modal-container">
    <div class="mb-4 flex items-center justify-between">
      <h5 class="modal-title text-xl font-semibold"><%= modalTitle %></h5>
      <button
        class="close-modal flex justify-center rounded border border-gray-300 bg-background hover:bg-error hover:text-background"
        aria-label="Close modal"
        title="Close modal"
        data-close="modal"
      >
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>
    <div class="modal-body">
      <%- include(`./modal-content/${modalContent}.ejs`) %>
    </div>
  </div>
</div>
