<!-- FILTERS -->
<!-- In a row at the top of the page on desktop, in a modal on mobile -->

<button
  type="button"
  class="max-lg:hover-link lg:hover-button-secondary flex items-center px-2 lg:gap-2 lg:rounded lg:px-3 lg:py-2 lg:font-bold xl:hidden"
  data-toggle="modal"
  data-target="filters"
>
  <span class="hidden lg:inline">Filter Plants</span>
  <span class="material-symbols-outlined max-lg:!text-4xl"> filter_alt </span>
</button>

<div id="filters" class="max-xl:modal invisible xl:visible" data-modal>
  <div
    class="modal-overlay xl:hidden"
    data-close="modal"
    data-target="filters"
  ></div>
  <div class="max-xl:modal-container">
    <div class="mb-4 flex items-center justify-between xl:hidden">
      <h5 class="modal-title text-xl font-semibold">Filter Plants</h5>
      <button
        class="close-modal flex justify-center rounded border border-gray-300 bg-background hover:bg-error hover:text-background"
        aria-label="Close modal"
        title="Close modal"
        data-close="modal"
        data-target="filters"
      >
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>
    <div
      class="max-xl:modal-body flex flex-col items-center gap-4 text-xl xl:h-16 xl:flex-row xl:items-stretch xl:justify-evenly"
    >
      <div class="lg:hidden"><%- include('../partials/sort-button.ejs') %></div>
      <div class="flex items-center gap-2 xl:flex-col xl:gap-0">
        <label for="identified-filter">Identified?</label>
        <input
          type="checkbox"
          id="identified-filter"
          class="xl:flex-fill-remaining-space aspect-square h-8"
          data-filter
          data-filterfeature="identified"
          data-filtervalue="any"
        />
      </div>
      <div class="flex items-center gap-2 xl:flex-col xl:gap-0">
        <label for="has-leaves-filter">Leaves?</label>
        <input
          type="checkbox"
          id="has-leaves-filter"
          class="xl:flex-fill-remaining-space aspect-square h-8"
          data-filter
          data-filterfeature="hasleaves"
          data-filtervalue="any"
        />
      </div>
      <div class="flex items-center gap-2 xl:flex-col xl:gap-0">
        <label for="has-flowers-filter">Flowers?</label>
        <input
          type="checkbox"
          id="has-flowers-filter"
          class="xl:flex-fill-remaining-space aspect-square h-8"
          data-filter
          data-filterfeature="hasflowers"
          data-filtervalue="any"
        />
      </div>
      <div class="flex items-center gap-2 xl:flex-col xl:gap-0">
        <label for="has-fruits-nuts-filter">Fruits/Seeds?</label>
        <input
          type="checkbox"
          id="has-fruits-nuts-filter"
          class="xl:flex-fill-remaining-space aspect-square h-8"
          data-filter
          data-filterfeature="hasfruitsnuts"
          data-filtervalue="any"
        />
      </div>
      <div class="flex items-center gap-2 xl:flex-col xl:gap-0">
        <label for="sun-exposure-filter">Sun Exposure</label>
        <select
          id="sun-exposure-filter"
          class="xl:flex-fill-remaining-space h-8 border-2 border-text border-text bg-background px-2 text-text dark:bg-background-inverse dark:text-background"
          data-filter
          data-filterfeature="sunexposure"
          data-filtervalue="any"
        >
          <option>None</option>
          <option>Partial</option>
          <option>Full</option>
          <option selected>Any</option>
        </select>
      </div>
    </div>
  </div>
</div>
