<div
  class="plant-card h-[28rem] overflow-hidden border-8 border-text bg-cover bg-center"
  style="background-image: url('<%= plant.image %>')"
>
  <div class="plant-info flex h-full flex-col gap-2 text-background">
    <div class="plant-name relative isolate px-2">
      <h2 class="text-3xl font-bold"><%= plant.name %></h2>
      <p class="italic">Flower Scientific Name</p>
      <p><%= plant.spottedString %></p>
      <div
        class="absolute bottom-0 left-0 -z-10 h-[200%] w-full bg-gradient-to-t from-text from-55%"
      ></div>
    </div>
    <p class="flex-fill-remaining-space my-2 px-2"><%= plant.description %></p>
    <div class="flex flex-row justify-stretch gap-2 p-2">
      <a href="/plant/1" class="hover-button w-1/2 rounded-lg px-4 py-2"
        >Chat/More Details</a
      >
      <button class="hover-button-secondary w-1/2 rounded-lg px-4 py-2">
        Suggest Edit
      </button>
    </div>
  </div>
</div>
