<div class="ml-auto flex rounded border border-text">
  <label class="flex items-center self-stretch">
    <span class="px-1 py-2"> Sort By: </span>
    <select class="cursor-pointer self-stretch bg-background">
      <option class="cursor-pointer">Time Seen</option>
      <option class="cursor-pointer">Distance</option>
    </select>
  </label>
  <button
    data-sort
    data-sort-icon
    class="material-symbols-outlined self-stretch bg-background-hover px-1"
  >
    filter_list
  </button>
</div>
