<div
  role="button"
  id="theme-toggle"
  class="pointer-events-auto relative isolate bg-background-inverse"
  data-theme="light"
  aria-label="Theme Toggle Switch"
>
  <div
    class="absolute left-0 z-10 flex w-full items-center justify-between pe-[5px] ps-[7px] text-background"
  >
    <i class="material-symbols-outlined opsz-20">light_mode</i>
    <i class="material-symbols-outlined opsz-20">dark_mode</i>
  </div>
  <div id="moving-switch" class="z-20 bg-background"></div>
</div>
