@import "utils.css";
@import "inputs.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*===COLOUR SCHEME============================================================*/
@layer base {
  /* For some unknown reason, dark mode needs to be the default as
       the .dark selector doesn't seem to be picked up.
     */
  :root {
    --text: #f1eee7;
    --background: #212121;
    --primary: #a7c957;
    --secondary: #9adcc7;
    --accent: #2d5936;
    --error: #FF4D50;

    /* Secondary is too light to use 'text colour' on dark theme, so need this */
    --on-secondary: var(--background);

    /* Light mode colours */
    --background-inverse: #f1eee7;
    --text-inverse: #262c26;

    /* Mix to get a hover colours */
    --text-hover: color-mix(in srgb, var(--text), #000 33%);
    --text-inverse-hover: color-mix(in srgb, var(--text-inverse), #fff 33%);

    --background-hover: color-mix(in srgb, var(--background), #fff 20%);
    --background-inverse-hover: color-mix(
      in srgb,
      var(--background-inverse),
      #000 20%
    );

    --background-light: color-mix(in srgb, var(--background), #fff 20%);
    --background-inverse-light: color-mix(
      in srgb,
      var(--background-inverse),
      #000 20%
    );

    --primary-hover: color-mix(in srgb, var(--primary), #000 33%);
    --secondary-hover: color-mix(in srgb, var(--secondary), #000 33%);
  }

  .light {
    --text: #262c26;
    --background: #f1eee7;
    --primary: #2d5936;
    --secondary: #9adcc7;
    --accent: #b9d478;
    --error: #BC4749;

    /* Secondary is too light to use 'text colour' on dark theme, so need this */
    --on-secondary: var(--text);

    /* Dark mode colours */
    --background-inverse: #212121;
    --text-inverse: #f1eee7;

    /* Mix to get a hover colours */
    --text-hover: color-mix(in srgb, var(--text), #fff 33%);
    --text-inverse-hover: color-mix(in srgb, var(--text-inverse), #000 33%);

    --background-hover: color-mix(in srgb, var(--background), #000 20%);
    --background-inverse-hover: color-mix(
      in srgb,
      var(--background-inverse),
      #fff 20%
    );

    --background-light: color-mix(in srgb, var(--background), #fff 20%);
    --background-inverse-light: color-mix(
      in srgb,
      var(--background-inverse),
      #000 20%
    );

    --primary-hover: color-mix(in srgb, var(--primary), #fff 33%);
    --secondary-hover: color-mix(in srgb, var(--secondary), #000 33%);
  }
}

/*===GENERAL RULES============================================================*/
main {
  @apply flex-fill-remaining-space;
}

/*===SITE-WIDE================================================================*/

#nav-links {
  @media screen(max-md) {
    @apply pt-4;
    @apply -z-10;
    @apply flex-col;
    @apply absolute;
    @apply w-screen;

    bottom: 0;

    transform: translateY(0);

    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  a {
    @media screen(max-md) {
      @apply hover-link-inverse;
      @apply dark:hover-link;
    }
    @media screen(md) {
      @apply hover-link;
    }
  }

  &.active {
    @media screen(max-md) {
      transform: translateY(100%);
    }
  }
}

#nav-shadow {
  &.active {
    opacity: 85%;
    pointer-events: auto;
  }

  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
}

#theme-toggle {
  height: 2rem;
  aspect-ratio: 1.75;
  border-radius: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 5px;

  > #moving-switch {
    height: 1.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: transform 0.1s ease-in-out;
  }

  &[data-theme='dark'] > #moving-switch {
    transform: translateX(100%);
  }
}

.plant-card {
  .plant-info,
  .plant-name,
  .plant-name div {
    transition:
      transform 0.35s ease-out,
      padding-top 0.35s ease-out,
      opacity 0.35s ease-out;
  }

  .plant-info {
    background-color: color-mix(
      in srgb,
      var(--text),
      rgba(255, 255, 255, 0) 20%
    );
    transform: translateY(100%);
    /* Prevent issues when card is fractional pixels wide */
    width: calc(100% + 1px);
  }

  .plant-name {
    transform: translateY(-100%);
  }

  &:hover, &.hover {
    .plant-info,
    .plant-name {
      transform: translateY(0);
    }

    .plant-name {
      padding-top: 0;

      div {
        opacity: 0;
      }
    }
  }
}
