/*===TAILWIND UTILS===========================================================*/
@layer utilities {
  .font-dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
  }

  .font-emoji {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  .flex-fill-remaining-space {
    flex: 1 0 auto;
  }

  .hover-button {
    cursor: pointer;
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out,
      stroke 0.2s ease-in-out;
    background-color: var(--primary);
    color: var(--background);
    stroke: var(--background);

    &:hover {
      @media (hover: hover) {
        background-color: var(--primary-hover);
      }
    }

    &-secondary {
      cursor: pointer;
      transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        stroke 0.2s ease-in-out;

      background-color: var(--secondary);
      color: var(--on-secondary);
      stroke: var(--on-secondary);

      &:hover {
        @media (hover: hover) {
          background-color: var(--secondary-hover);
        }
      }
    }

    &-error {
      cursor: pointer;
      transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        stroke 0.2s ease-in-out;

      background-color: var(--error);
      color: var(--background);
      stroke: var(--background);

      &:hover {
        @media (hover: hover) {
          background-color: var(--error-hover);
        }
      }

    }
  }

  .hover-link {
    cursor: pointer;
    transition:
      color 0.2s ease-in-out,
      stroke 0.2s ease-in-out;

    color: var(--text);
    stroke: var(--text);

    &:hover {
      @media (hover: hover) {
        color: var(--text-hover);
        stroke: var(--text-hover);
      }
    }

    &-inverse {
      cursor: pointer;
      transition:
        color 0.2s ease-in-out,
        stroke 0.2s ease-in-out;

      color: var(--text-inverse);
      stroke: var(--text-inverse);

      &:hover {
        @media (hover: hover) {
          color: var(--text-inverse-hover);
          stroke: var(--text-inverse-hover);
        }
      }
    }
  }

  .material-symbols-outlined {
    /* Recommended icon sizes */
    &.opsz-20 {
      font-size: 20px;
      font-variation-settings:
        'FILL' 1,
        'OPSZ' 20;
    }
    &.opsz-24 {
      font-size: 24px;
      font-variation-settings:
        'FILL' 1,
        'OPSZ' 24;
    }
    &.opsz-40 {
      font-size: 40px;
      font-variation-settings:
        'FILL' 1,
        'OPSZ' 40;
    }
    &.opsz-48 {
      font-size: 48px;
      font-variation-settings:
        'FILL' 1,
        'OPSZ' 48;
    }
  }

  /*===MODAL====================================================================*/
  .modal {
    pointer-events: none;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    isolation: isolate;

    &.active {
      pointer-events: auto;

      .modal-overlay {
        opacity: 0.5;
      }

      .modal-container, .max-lg\:modal-container {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: black;

    opacity: 0;
    transition: opacity .5s ease-in-out;
  }

  .modal-container {
    @apply w-5/6;
    @apply max-w-md;
    @apply shadow-lg;

    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1.5rem;
    overflow-y: auto;
    border-radius: .25rem;
    background-color: var(--background);

    opacity: 0;
    transform: translateY(50px);
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  }

  .modal-body {
    max-height: calc(100vh - 210px);
    padding-right: 5px;
    overflow-y: auto;
  }

  /*===TOOLTIPS=================================================================*/
  .has-tooltip {
    position: relative;

    .tooltip-content {
      @apply text-sm;
      @apply text-center;
      @apply w-24;
      @apply rounded-lg;
      @apply px-1;
      @apply py-2;

      position: absolute;
      z-index: 100;

      background-color: black;
      color: #f1eee7;

      opacity: 0;
      transition: opacity .5s ease-in-out;
      pointer-events: none;

      &.tooltip-bottom {
        top: calc(105% + 10px);
        left: 50%;
        transform: translateX(-50%);

        &::after {
          content: " ";
          position: absolute;
          bottom: 100%;  /* At the top of the tooltip */
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: transparent transparent black transparent;
        }
      }

      &.tooltip-top {
        bottom: calc(105% + 10px);
        left: 50%;
        transform: translateX(-50%);

        &::after {
          content: " ";
          position: absolute;
          top: 100%;  /* At the bottom of the tooltip */
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: black transparent transparent transparent;
        }
      }
    }

    &:hover, &.hover {
      .tooltip-content {
        opacity: 1;
      }
    }
  }

  /*===FLASH MESSAGES=========================================================*/
  .flash {
    @apply fixed;
    @apply top-0;
    @apply p-2;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply w-screen;
    @apply transition-transform;

    .flash-error {
      background: var(--error);
      color: var(--background);
    }

    .flash-success {
      background: var(--primary);
      color: var(--background);
    }

    .flash-info {
      background: var(--secondary);
      color: var(--on-secondary);
    }
  }
}