/*===TAILWIND UTILS===========================================================*/
@layer utilities {
  .flex-fill-remaining-space {
    flex: 1 0 auto;
  }

  .hover-button {
    cursor: pointer;
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out,
      stroke 0.2s ease-in-out;
    background-color: var(--primary);
    color: var(--background);
    stroke: var(--background);

    &:hover {
      @media (hover: hover) {
        background-color: var(--primary-hover);
      }
    }

    &-secondary {
      cursor: pointer;
      transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        stroke 0.2s ease-in-out;

      background-color: var(--secondary);
      color: var(--on-secondary);
      stroke: var(--on-secondary);

      &:hover {
        @media (hover: hover) {
          background-color: var(--secondary-hover);
        }
      }
    }

    &-error {
      cursor: pointer;
      transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        stroke 0.2s ease-in-out;

      background-color: var(--error);
      color: var(--background);
      stroke: var(--background);

      &:hover {
        @media (hover: hover) {
          background-color: var(--error-hover);
        }
      }

    }
  }

  .hover-link {
    cursor: pointer;
    transition:
      color 0.2s ease-in-out,
      stroke 0.2s ease-in-out;

    color: var(--text);
    stroke: var(--text);

    &:hover {
      @media (hover: hover) {
        color: var(--text-hover);
        stroke: var(--text-hover);
      }
    }

    &-inverse {
      cursor: pointer;
      transition:
        color 0.2s ease-in-out,
        stroke 0.2s ease-in-out;

      color: var(--text-inverse);
      stroke: var(--text-inverse);

      &:hover {
        @media (hover: hover) {
          color: var(--text-inverse-hover);
          stroke: var(--text-inverse-hover);
        }
      }
    }
  }

  /*===MODALS===================================================================*/
  .modal {
    pointer-events: none;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    isolation: isolate;

    /* use :not here so that container has no `transform` property when active */
    /* `transform` prevents fixed elements from being positioned relative to viewport (thanks css) */
    &:not(.active) {
      &>.modal-container, &>.max-lg\:modal-container, &>.max-xl\:modal-container {
        transform: translateY(50px);
      }
    }

    &.active {
      pointer-events: auto;

      &>.modal-overlay {
        opacity: 0.5;
      }

      &>.modal-container, &>.max-lg\:modal-container, &>.max-xl\:modal-container {
        opacity: 1;
      }
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: black;

    opacity: 0;
    transition: opacity .5s ease-in-out;
  }

  .modal-container {
    @apply w-5/6;
    @apply shadow-lg;

    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1.5rem;
    overflow-y: auto;
    border-radius: .25rem;
    background-color: var(--background);

    opacity: 0;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;

    z-index: 10;
  }

  .modal-body {
    max-height: calc(100vh - 210px);
    padding-right: 5px;
    overflow-y: auto;
  }
  /*==END-MODALS==============================================================*/

  /*===TOOLTIPS=================================================================*/
  .has-tooltip {
    position: relative;

    .tooltip-content {
      @apply text-sm;
      @apply text-center;
      @apply w-24;
      @apply rounded-lg;
      @apply px-1;
      @apply py-2;

      position: absolute;
      z-index: 100;

      background-color: black;
      color: #f1eee7;

      opacity: 0;
      transition: opacity .5s ease-in-out;
      pointer-events: none;

      &.tooltip-bottom {
        top: calc(105% + 10px);
        left: 50%;
        transform: translateX(-50%);

        &::after {
          content: " ";
          position: absolute;
          bottom: 100%;  /* At the top of the tooltip */
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: transparent transparent black transparent;
        }
      }

      &.tooltip-top {
        bottom: calc(105% + 10px);
        left: 50%;
        transform: translateX(-50%);

        &::after {
          content: " ";
          position: absolute;
          top: 100%;  /* At the bottom of the tooltip */
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: black transparent transparent transparent;
        }
      }

      &.tooltip-right {
        left: calc(105% + 10px);
        top: 50%;
        transform: translateY(-50%);

        &::after {
          content: " ";
          position: absolute;
          top: 100%;  /* At the bottom of the tooltip */
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: black transparent transparent transparent;
        }
      }
    }

    &:hover, &.hover {
      .tooltip-content {
        opacity: 1;
      }
    }
  }
  /*==END-TOOLTIPS============================================================*/

  /*===FLASH MESSAGES=========================================================*/
  .flash {
    @apply fixed;
    @apply top-0;
    @apply p-2;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply w-screen;
    @apply transition-transform;

    .flash-error {
      background: var(--error);
      color: var(--background);
    }

    .flash-success {
      background: var(--primary);
      color: var(--background);
    }

    .flash-info {
      background: var(--secondary);
      color: var(--on-secondary);
    }
  }
  /*==END-ALERTS==============================================================*/

  /*==TABS====================================================================*/
  .tabs {
    isolation: isolate;
  }

  .tab-content {
    &:not(.active) {
      display: none;
    }
  }

  .tab-button {
    @apply bg-background-hover;
    height: 3rem;
    margin-bottom: -2px;
    padding: 5px 1rem;
    border-radius: 20px 20px 0 0;
    border: 2px solid var(--background-hover);
    border-bottom: none;

    &.active {
      z-index: 100;
      border: 2px solid var(--text);
      border-bottom: none;
    }
  }
  /*==END-TABS================================================================*/
}