<div
  id="<%= typeof mapID === 'undefined' ? 'map' : mapID %>"
  class="aspect-video h-[66vh] max-w-[80vw]"
></div>

<% if (typeof latitude !== 'undefined' && typeof longitude !== 'undefined') { %>
    <div id="location-vars" data-plant="Edit" data-lat="<%= latitude %>" data-lng="<%= longitude %>"></div>
<% } else if (typeof showLocationVars !== 'undefined') { %>
    <div id="location-vars" data-plant="New" data-lat="" data-lng=""></div>
<% } %>