<div class="flex w-64 max-w-[80vw] flex-col items-center gap-3">
  <div class="text-3xl font-bold">Hi, <span data-fill="username"></span>!</div>
  <div data-fill="user-posted-string" class="text-center"></div>
  <button
    id="logout-button"
    class="hover-button-error flex w-max items-center gap-2 rounded px-3 py-2 font-bold"
  >
    <span class="material-symbols-outlined">logout</span>
    Logout
  </button>
</div>
